// Loader Styles

#loader-area {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100%;
  background-color: #12121291;
  width: 100%;

  :first-child {
    position: absolute;
    left: 50%;
    top: 10rem;

    @media (max-width: 768px) {
      left: 44%;
    }

    @media (max-width: 576px) {
      left: 40%;
    }
  }
}

// Avatar badge

.avatar-badge {
  width: 13px !important;
  height: 13px !important;
}

.h-animation {
  svg {
    height: 500px !important;
  }
}
