.popover {
  border: 0 !important;

  :nth-child(2) {
    padding: 4px !important;
  }
}
.recent-post-header {
  @media (max-width: 416px) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }
}
