.css-jfo9gg {
    display: none !important;
}
.logo {
    height: 40px;
}

.sidebar-box {

    @media (max-width: 768px) {
        width: 100% !important;
        min-height: 0px !important;

      
    }

}