.css-jfo9gg {
  display: none !important;
}

.logo {
  height: 40px;
}

.sidebar-box {
  @media (max-width: 768px) {
    width: 100% !important;
    min-height: 0px !important;
  }
}

.main-content {
  width: 81%;
  // width: 73%;

  @media (max-width: 1200px) {
    width: 70%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

#logout {
  top: 94vh;
  @media (max-width: 768px) {
    top: 85vh;
  }
}
