@import './sidebar';
@import './search';
@import './post';
@import './datatable';
@import './common';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

